<div>
    <p>testtesttest</p>
    <div>
        <div id="star_map_container" ng-show="star_settings.map_on" style="float: left;">
            <star-Map></star-Map>
        </div>
        <div ng-show = "star_settings.cur_star">
            <table border="1" style="width:50%">
              <tr>
                <td>cur_star:</td>
                <td>{{star_settings.cur_star.proper}}</td>
              </tr>
              <tr>
                <td>hip</td>
                <td>{{star_settings.cur_star.hip}}</td>
              </tr>
              <tr>
                <td>RA</td>
                <td>{{star_settings.cur_star.ra}}</td>
              </tr>
              <tr>
                <td>DEC</td>
                <td>{{star_settings.cur_star.dec}}</td>
              </tr>
              <tr>
                <td>ALT</td>
                <td>{{star_settings.cur_star.ALT}}</td>
              </tr>
              <tr>
                <td>AZ</td>
                <td>{{star_settings.cur_star.AZ}}</td>
              </tr>
              <tr>
                <td>magnitude</td>
                <td>{{star_settings.cur_star.mag}}</td>
              </tr>
              <tr>
                <td>constellation</td>
                <td>{{star_settings.cur_star.con}}</td>
              </tr>
            </table>
        </div>
    </div>

    <br/>
</div>